In [ ]:
import pandas as pd

# Load the first CSV file
sub1 = pd.read_csv('Submissions/20ModelsCatboost.csv')

# Load the second CSV file
sub2 = pd.read_csv('Submissions/autogluon_prediction_date_time_included_2.csv')

merged_df = pd.merge(sub1, sub2, on=['id'])
merged_df['prediction'] = merged_df[['prediction_x', 'prediction_y']].mean(axis=1)
final_df = merged_df.drop(columns=['prediction_x', 'prediction_y'])
final_df.loc[final_df['prediction'] < 6, 'prediction'] = 0
final_df.to_csv('BlendedModels/143catboost148autgluon.csv', index=False)

In [1]:
import pandas as pd

# Load the first CSV file
sub1 = pd.read_csv('Submissions/20ModelsCatboost.csv')

# Load the second CSV file
sub2 = pd.read_csv('Submissions/Henning_subs/best_autogluon_henning.csv')

def weighted_avg(sub1,sub2, w1, w2):
    merged_df = pd.merge(sub1, sub2, on=['id'])
    merged_df['prediction'] = merged_df['prediction_x']*w1 + merged_df['prediction_y']*w2
    final_df = merged_df.drop(columns=['prediction_x', 'prediction_y'])
    final_df.loc[final_df['prediction'] < 8, 'prediction'] = 0
    return final_df

final_df = weighted_avg(sub1,sub2,0.6,0.4)
final_df.to_csv('Submissions/BlendedModels/143catboost146autgluon_weighted_avg2.csv', index=False)

In [2]:
final_df

        id  prediction
0        0    0.000000
1        1    0.000000
2        2    0.000000
3        3   59.688535
4        4  335.993307
...    ...         ...
2155  2155   74.559262
2156  2156   43.207297
2157  2157   18.330550
2158  2158    0.000000
2159  2159    0.000000

[2160 rows x 2 columns]