In [23]:
import os
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
%matplotlib inline

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

In [24]:
x_train_a = pd.read_csv('cleaned_data/A/x_train_a.csv')
x_train_b = pd.read_csv('cleaned_data/B/x_train_b.csv')
x_train_c = pd.read_csv('cleaned_data/C/x_train_c.csv')

x_test_a = pd.read_csv('cleaned_data/A/x_test_a.csv')
x_test_b = pd.read_csv('cleaned_data/B/x_test_b.csv')
x_test_c = pd.read_csv('cleaned_data/C/x_test_c.csv')

train_a = pd.read_csv('cleaned_data/A/train_a.csv')
train_b = pd.read_csv('cleaned_data/B/train_b.csv')
train_c = pd.read_csv('cleaned_data/C/train_c.csv')

In [25]:
train_a['time'] = pd.to_datetime(train_a['time'])
train_b['time'] = pd.to_datetime(train_b['time'])
train_c['time'] = pd.to_datetime(train_c['time'])

In [26]:
x_test_a = x_test_a.drop(columns = ['date_forecast'])
x_test_b = x_test_b.drop(columns = ['date_forecast'])
x_test_c = x_test_c.drop(columns = ['date_forecast'])

In [27]:
#Remove rows in X_train that has timestamp that does not exist in train_loc, and visa_verca
#e.g missing solar power measurements from 2022-10-21 01:00 - 2022-10-28 21:00
def align_X_y(x_train,y_train, x_date_column='date_forecast', y_date_column='time'):
    """
    Aligns two dataframes based on the 'date_forecast' column of X and the 'time' column of y,
    ensuring that only rows with matching time values are retained.

    Parameters:
    - X (pd.DataFrame): The first dataframe with time in the 'date_forecast'
    - y (pd.DataFrame): The second dataframe with time in the 'time' column.

    Returns:
    - tuple: A tuple containing the aligned dataframes.
    """
    # Convert date columns to datetime format for easier comparison
    x_train[x_date_column] = pd.to_datetime(x_train[x_date_column])
    y_train[y_date_column] = pd.to_datetime(y_train[y_date_column])
    
    # Find common dates
    common_dates = x_train[x_date_column][x_train[x_date_column].isin(y_train[y_date_column])]
    
    # Filter both datasets based on common dates
    x_train_synced = x_train[x_train[x_date_column].isin(common_dates)]
    y_train_synced = y_train[y_train[y_date_column].isin(common_dates)]
    
    return x_train_synced, y_train_synced

# Analysis of Target variable  - Looking at PV_measurement
1. Handle constant measurments over longer periods of time. Likely caused by sensor malfunction, data logging issues, or other external factors.
    - Handeled by removing all constant values lasting more than 24 hours 
2. Add cyclical features 
2. Handle longer periods of missing data:
    - Remove (currently tested)
    - Interpolate 
    - Copy from previous year
    - Copy solar production at missing time from another location

### 1. Handle constant PV measurements

In [28]:
# Time-Series plot of PV_measurement 

def solar_prod_plot(y_train, resolution='year', chunks=5):
    df = y_train.copy()
    
    # Determine the plotting resolution based on the 'resolution' argument
    # Chunks = number of year/months/days in each plot
    if resolution == 'year':
        unique_values = df['time'].dt.year.unique()
        label = 'Year'
    elif resolution == 'month':
        df['year_month'] = df['time'].dt.to_period('M')
        unique_values = df['year_month'].unique()
        label = 'Month'
    elif resolution == 'week':
        df['year_week'] = df['time'].dt.to_period('W')
        unique_values = df['year_week'].unique()
        label = 'Week'
    elif resolution == 'day':
        df['date'] = df['time'].dt.date
        unique_values = df['date'].unique()
        label = 'Day'
    else:
        raise ValueError("Invalid resolution. Choose from 'year', 'month', 'week', or 'day'.")
    
    # Loop over the unique values in chunks
    for i in range(0, len(unique_values), chunks):
        subset_values = unique_values[i:i+chunks]
        
        if resolution == 'year':
            subset_df = df[df['time'].dt.year.isin(subset_values)]
        elif resolution == 'month':
            subset_df = df[df['year_month'].isin(subset_values)]
        elif resolution == 'week':
            subset_df = df[df['year_week'].isin(subset_values)]
        elif resolution == 'day':
            subset_df = df[df['date'].isin(subset_values)]
        
        plt.figure(figsize=(15, 6))
        plt.plot(subset_df['time'], subset_df['pv_measurement'])

        title = f"Solar Power Production for {label}: {subset_values[0]}"
        if len(subset_values) > 1:
            title += f" to {subset_values[-1]}"

        plt.title(title)
        plt.xlabel("Time")
        plt.ylabel("PV Measurement")
        plt.show()

def remove_constant_intervals(y_train, low_thresh, upp_thresh):
    """
    Identify and remove intervals of constant PV readings that exceed a specified duration. 
    Constant readings may indicate sensor malfunctions or data logging issues.
    
    Parameters:
    ----------
    y_train : pd.DataFrame
        Dataframe containing the time-series data of solar power production.
    threshold : int
        The minimum duration required for an interval to be considered for removal.
        
    Returns:
    -------
    pd.DataFrame
        The input dataframe with intervals of constant readings (exceeding the duration threshold) removed.
    """
    df = y_train.copy()
    
    # Calculate the difference in production values
    df['diff'] = df['pv_measurement'].diff()

    # Identify where the difference is zero
    df['zero_diff'] = df['diff'].abs() < 1e-5

    # Identify groups of consecutive zero differences
    df['group'] = (df['zero_diff'] != df['zero_diff'].shift()).cumsum()

    # Filter out only the groups with consecutive zero differences
    constant_intervals = df[df['zero_diff']].groupby('group').agg(start=('time', 'min'), 
                                                                  end=('time', 'max'),
                                                                  duration=('time', 'size'))
    
    # Filter intervals based on the threshold
    interval_df_thresh = constant_intervals[(constant_intervals['duration'] > low_thresh) & (constant_intervals['duration'] <upp_thresh)]
    
    # Remove rows from the main dataframe that fall within these intervals
    for _, row in interval_df_thresh.iterrows():
        start_time, end_time = row['start'], row['end']
        df = df[(df['time'] < start_time) | (df['time'] > end_time)]
    
    # Drop the added columns used for calculations
    df.drop(columns=['diff', 'zero_diff', 'group'], inplace=True)
    
    return df, constant_intervals


def get_time_interval(df, start_time = '2020-08-01 00:00:00', end_time = '2021-01-01 00:00:00'):
    # Filter rows based on the time period
    filtered_df = df[(df['time'] >= start_time) & (df['time'] <= end_time)]
    return filtered_df

In [29]:
#Removed all constant values with duration > 24 hours

train_a, const_interval_a = remove_constant_intervals(train_a,24,10**6)

#update X_train_a by removing coresponding rows that have been filtered here
x_train_a, train_a = align_X_y(x_train_a, train_a)

In [30]:
rows_removed_a = np.sum(const_interval_a[const_interval_a['duration']>24]['duration'])
print(f'total number of rows removed {rows_removed_a}')
const_interval_a[const_interval_a['duration']>24]

total number of rows removed 42

                    start                 end  duration
group
434   2020-01-04 15:00:00 2020-01-06 08:00:00        42

In [31]:
#Remove rows in groups of constant values, where duration of constant measurements is > 1 day (24 hours)
train_b, const_interval_b = remove_constant_intervals(train_b,24,10**6)

#update X_train_a by removing coresponding rows that have been filtered here
x_train_b, train_b = align_X_y(x_train_b, train_b)

In [32]:
rows_removed = np.sum(const_interval_b[const_interval_b['duration']>24]['duration'])
print(f'total number of rows removed {rows_removed}')
const_interval_b[const_interval_b['duration']>24]

total number of rows removed 6865

                    start                 end  duration
group
32    2019-01-14 15:00:00 2019-01-18 11:00:00        93
36    2019-01-19 13:00:00 2019-01-26 08:00:00       164
40    2019-01-27 11:00:00 2019-01-28 13:00:00        27
74    2019-02-10 16:00:00 2019-02-13 07:00:00        64
160   2019-03-23 18:00:00 2019-03-26 06:00:00        61
302   2019-05-31 08:00:00 2019-06-03 12:00:00        77
606   2019-10-28 14:00:00 2019-10-30 22:00:00        57
674   2019-12-01 13:00:00 2019-12-04 08:00:00        68
682   2019-12-07 14:00:00 2019-12-11 08:00:00        91
700   2019-12-18 14:00:00 2019-12-20 09:00:00        44
712   2019-12-25 14:00:00 2019-12-30 09:00:00       116
724   2020-01-02 14:00:00 2020-01-04 08:00:00        43
726   2020-01-04 14:00:00 2020-01-06 10:00:00        45
768   2020-01-24 12:00:00 2020-01-26 08:00:00        45
790   2020-02-05 14:00:00 2020-02-07 09:00:00        44
824   2020-02-23 17:00:00 2020-02-25 09:00:00        41
890   2020-03-26 14:00:00 2020-03-27 21:00:00        32
906   2020-04-02 02:00:00 2020-04-16 06:00:00       341
1090  2020-07-12 21:00:00 2020-08-25 21:00:00      1057
1154  2020-09-24 13:00:00 2020-09-25 21:00:00        33
1332  2020-12-16 14:00:00 2020-12-18 08:00:00        43
1352  2020-12-26 14:00:00 2020-12-28 08:00:00        43
1380  2021-01-09 14:00:00 2021-01-13 09:00:00        92
1396  2021-01-19 13:00:00 2021-01-21 09:00:00        45
1400  2021-01-22 16:00:00 2021-01-24 08:00:00        41
1410  2021-01-28 16:00:00 2021-01-30 08:00:00        41
1414  2021-01-30 14:00:00 2021-02-01 08:00:00        43
1416  2021-02-01 11:00:00 2021-02-03 08:00:00        46
1454  2021-02-18 00:00:00 2021-03-08 14:00:00       447
1456  2021-03-08 16:00:00 2021-04-19 11:00:00      1003
1478  2021-04-28 23:00:00 2021-05-01 21:00:00        71
1550  2021-06-05 02:00:00 2021-06-07 07:00:00        54
1564  2021-06-13 02:00:00 2021-06-14 09:00:00        32
1582  2021-06-22 02:00:00 2021-06-24 08:00:00        55
1602  2021-07-03 13:00:00 2021-07-06 05:00:00        65
1710  2021-08-25 23:00:00 2021-09-03 21:00:00       215
1722  2021-09-08 13:00:00 2021-09-14 13:00:00       145
1734  2021-09-19 00:00:00 2021-09-27 08:00:00       201
1858  2021-11-22 15:00:00 2021-11-24 08:00:00        42
1864  2021-11-26 12:00:00 2021-12-04 08:00:00       189
1894  2021-12-16 14:00:00 2021-12-18 09:00:00        44
1902  2021-12-21 14:00:00 2021-12-24 09:00:00        68
1904  2021-12-24 12:00:00 2022-01-03 09:00:00       238
1906  2022-01-03 13:00:00 2022-01-11 09:00:00       189
1910  2022-01-12 14:00:00 2022-01-14 08:00:00        43
1948  2022-01-30 16:00:00 2022-02-04 09:00:00       114
1966  2022-02-10 15:00:00 2022-02-12 11:00:00        45
1972  2022-02-14 16:00:00 2022-02-16 09:00:00        42
1974  2022-02-16 14:00:00 2022-02-18 10:00:00        45
1978  2022-02-19 10:00:00 2022-02-24 06:00:00       117
2004  2022-03-06 11:00:00 2022-03-07 11:00:00        25
2032  2022-03-19 14:00:00 2022-03-28 07:00:00       209
2034  2022-03-28 12:00:00 2022-04-05 06:00:00       187
2196  2023-01-15 15:00:00 2023-01-17 09:00:00        43

In [33]:
#Remove rows in groups of constant values, where duration of constant measurements is > 1 day (24 hours)
train_c, const_interval_c = remove_constant_intervals(train_c,24,10**6)

#update X_train_a by removing coresponding rows that have been filtered here
x_train_c, train_c = align_X_y(x_train_c, train_c)

In [34]:
rows_removed = np.sum(const_interval_c[const_interval_c['duration']>24]['duration'])
print(f'total number of rows removed {rows_removed}')
const_interval_c[const_interval_c['duration']>24]

total number of rows removed 4926

                    start                 end  duration
group
2     2019-09-04 10:00:00 2019-09-05 12:00:00        27
180   2019-11-11 12:00:00 2019-11-13 08:00:00        45
230   2019-11-28 15:00:00 2019-12-05 09:00:00       163
240   2019-12-07 14:00:00 2019-12-13 09:00:00       140
256   2019-12-16 14:00:00 2019-12-21 09:00:00       116
276   2019-12-25 13:00:00 2019-12-30 09:00:00       117
290   2020-01-02 14:00:00 2020-01-07 09:00:00       116
340   2020-01-23 15:00:00 2020-01-26 08:00:00        66
376   2020-02-05 14:00:00 2020-02-10 07:00:00       114
414   2020-02-23 17:00:00 2020-03-08 08:00:00       328
484   2020-03-28 18:00:00 2020-03-31 09:00:00        64
1150  2020-11-18 13:00:00 2020-11-22 08:00:00        92
1238  2020-12-16 14:00:00 2020-12-18 08:00:00        43
1252  2020-12-21 14:00:00 2020-12-23 09:00:00        44
1264  2020-12-25 14:00:00 2020-12-28 09:00:00        68
1312  2021-01-09 14:00:00 2021-01-22 10:00:00       309
1316  2021-01-22 15:00:00 2021-01-24 10:00:00        44
1318  2021-01-24 13:00:00 2021-02-19 10:00:00       622
1358  2021-03-03 17:00:00 2021-03-06 07:00:00        63
1374  2021-03-08 14:00:00 2021-03-10 08:00:00        43
1408  2021-03-20 18:00:00 2021-03-22 05:00:00        36
1458  2021-04-09 19:00:00 2021-04-11 08:00:00        38
2122  2021-11-24 14:00:00 2021-12-14 09:00:00       476
2146  2021-12-21 14:00:00 2022-01-16 10:00:00       621
2148  2022-01-16 13:00:00 2022-01-18 10:00:00        46
2152  2022-01-19 14:00:00 2022-01-22 09:00:00        68
2164  2022-01-24 16:00:00 2022-01-26 10:00:00        43
2168  2022-01-27 16:00:00 2022-01-30 08:00:00        65
2172  2022-01-30 15:00:00 2022-02-07 11:00:00       189
2178  2022-02-08 14:00:00 2022-03-02 09:00:00       524
2284  2022-04-02 18:00:00 2022-04-04 09:00:00        40
2290  2022-04-05 13:00:00 2022-04-08 09:00:00        69
2486  2023-02-19 14:00:00 2023-02-21 10:00:00        45
2490  2023-02-21 16:00:00 2023-02-23 09:00:00        42

In [35]:
merged_a = pd.merge(x_train_a, train_a, left_on='date_forecast', right_on='time', how='inner')
merged_b = pd.merge(x_train_b, train_b, left_on='date_forecast', right_on='time', how='inner')
merged_c = pd.merge(x_train_c, train_c, left_on='date_forecast', right_on='time', how='inner')

### Add Cyclical Features

In [ ]:
# Creating cyclical features for hour of the day
def cyclic_hourly(x):
    train_data = x.copy()
    train_data['hour_sin'] = np.sin(2 * np.pi * train_data['hour'] / 24)
    train_data['hour_cos'] = np.cos(2 * np.pi * train_data['hour'] / 24)
    return train_data


# Creating cyclical features for month of the year
def cyclic_monthly(x):
    train_data = x.copy()
    train_data['month_sin'] = np.sin(2 * np.pi * train_data['month'] / 12)
    train_data['month_cos'] = np.cos(2 * np.pi * train_data['month'] / 12)
    return train_data

"""
x_train_a = cyclic_hourly(x_train_a)
x_train_a = cyclic_monthly(x_train_a)

x_test_a = cyclic_hourly(x_test_a)
x_test_a = cyclic_monthly(x_test_a)

x_train_b = cyclic_hourly(x_train_b)
x_train_b = cyclic_monthly(x_train_b)

x_test_b = cyclic_hourly(x_test_b)
x_test_b = cyclic_monthly(x_test_b)

x_train_c = cyclic_hourly(x_train_c)
x_train_c = cyclic_monthly(x_train_c)

x_test_c = cyclic_hourly(x_test_c)
x_test_c = cyclic_monthly(x_test_c)
"""

### Remove outliers during night

In [ ]:
def plot_hourly_avg(y_train):
    # Grouping by hour and calculating the average PV measurement for each hour
    train_data = y_train.copy()
    train_data['hour'] = y_train['time'].dt.hour
    hourly_avg = train_data.groupby('hour')['pv_measurement'].mean()

    # Plotting the average PV production for each hour
    plt.figure(figsize=(12, 6))
    hourly_avg.plot(kind='bar', color='skyblue')
    plt.title('Average PV Production by Hour')
    plt.xlabel('Hour of the Day')
    plt.ylabel('Average PV Production')
    plt.grid(axis='y', linestyle='--', alpha=0.7)
    plt.tight_layout()
    plt.show()

def plot_dist_hour(y_train, hour):
    train_data = y_train.copy()
    train_data['hour'] = y_train['time'].dt.hour
    
    # Filtering the data for the given hour
    hour_data = train_data[train_data['hour'] == hour]
    
    # Plotting the distribution of PV measurements for 1 am
    plt.figure(figsize=(12, 6))
    plt.hist(hour_data['pv_measurement'], bins=50, color='teal', alpha=0.7)
    plt.title(f'Distribution of PV Measurements at {hour}')
    plt.xlabel('PV Measurement')
    plt.ylabel('Frequency')
    plt.grid(axis='y', linestyle='--', alpha=0.7)
    plt.tight_layout()
    plt.show()
    print(hour_data['pv_measurement'].value_counts())
#train_c[(train_c['time'].dt.hour == 2) &(train_c['pv_measurement'] == 9.8)]

def get_nighttime_stats(y_train,night_start,night_end):
    train_data = y_train.copy()
    train_data['hour'] = y_train['time'].dt.hour

    # Filtering the data for nighttime hours (8 pm to 4 am)
    nighttime_data = train_data[(train_data['hour'] >= night_start) | (train_data['hour'] <= night_end)]

    # Descriptive statistics for nighttime PV measurements
    nighttime_stats = nighttime_data['pv_measurement'].describe()

    # Plotting the distribution of nighttime PV measurements
    plt.figure(figsize=(12, 6))
    plt.hist(nighttime_data['pv_measurement'], bins=50, color='purple', alpha=0.7)
    plt.axvline(nighttime_stats['75%'], color='red', linestyle='dashed', label='75th Percentile')
    plt.axvline(nighttime_stats['max'], color='green', linestyle='dashed', label='Max Value')
    plt.title('Distribution of Nighttime PV Measurements')
    plt.xlabel('PV Measurement')
    plt.ylabel('Frequency')
    plt.legend()
    plt.grid(axis='y', linestyle='--', alpha=0.7)
    plt.tight_layout()
    plt.show()

    print(nighttime_stats)
    
def set_nighttime_to_zero(y_train, night_start,night_end, thresh):
    df = y_train.copy()
    df['hour'] = y_train['time'].dt.hour
    mask = (df['hour'] >= 23) | (df['hour'] <= 3) & (df['pv_measurement'] > thresh)
    df.loc[mask, 'pv_measurement'] = 0
    df = df.drop(columns = ['hour'])
    return df

#train_a[(train_a['time'].dt.hour == 2) &(train_a['pv_measurement'] >0)]
#train_a = set_nighttime_to_zero(train_a,23,3,0)
#train_b = set_nighttime_to_zero(train_b,23,3,0)
#train_c = set_nighttime_to_zero(train_c,23,3,0)
#train_a[(train_a['time'].dt.hour == 2) &(train_a['pv_measurement'] >0)]

### Remove rows with high rad values and zero PV

In [ ]:
def remove_rad_null(merged_df):
    merged_data = merged_df.copy()
    merged_data['clear_sky_rad:W'].fillna(0, inplace=True)
    merged_data['clear_sky_rad:W'].fillna(0, inplace=True)
    merged_data['direct_rad:W'].fillna(0, inplace=True)
    merged_data['direct_rad_1h:J'].fillna(0, inplace=True)
    return merged_data
"""
m_a = remove_rad_null(merged_a)
m_b = remove_rad_null(merged_b)
m_c = remove_rad_null(merged_c)
"""

def get_percentiles_df(merged_df):
    merged_data = merged_df.copy()
    merged_data['clear_sky_rad:W'].fillna(0, inplace=True)
    merged_data['clear_sky_rad:W'].fillna(0, inplace=True)
    merged_data['direct_rad:W'].fillna(0, inplace=True)
    merged_data['direct_rad_1h:J'].fillna(0, inplace=True)

    # Calculate and display percentiles
    percentiles = [50,60,70,80,85,90,95]
    percentile_values_direct_rad= np.percentile(merged_data['direct_rad:W'], percentiles)
    percentile_values_direct_rad_1h = np.percentile(merged_data['direct_rad_1h:J'], percentiles)
    percentile_values_clear_sky_rad = np.percentile(merged_data['clear_sky_rad:W'], percentiles)
    percentile_values_clear_sky_energy = np.percentile(merged_data['clear_sky_energy_1h:J'], percentiles)
    percentile_values_df = pd.DataFrame({
        'Percentile': percentiles,
        'direct_rad:W':percentile_values_direct_rad,
        'direct_rad_1h:J': percentile_values_direct_rad_1h,
        'clear_sky_rad:W': percentile_values_clear_sky_rad,
        'clear_sky_energy_1h:J': percentile_values_clear_sky_energy
        })
    
    return percentile_values_df

def get_anomals(merged_data,feature,percentile): 
    #identify the rows where the "direct_rad:W" column in x_train_a is high
    #but the PV measurement in train_a is zero -> Indicates wrong
    
    percentile_df = get_percentiles_df(merged_data)
    
    # Define a threshold for high solar radiation
    threshold = percentile_df[percentile_df['Percentile']==percentile][feature].values[0],

    # Find rows where 'direct_rad:W' is high but PV measurement is zero
    anomalous_rows = merged_data[(merged_data[feature] > threshold) & (merged_data['pv_measurement'] == 0)]
    
    
    # Display the anomalous rows
    return anomalous_rows
"""
merged_a1 = merged_a.copy().drop(get_anomals(merged_a,'clear_sky_rad:W',90).index)
merged_b1 = merged_b.copy().drop(get_anomals(merged_b,'direct_rad:W',90).index)
merged_c1 = merged_c.copy().drop(get_anomals(merged_c,'direct_rad_1h:J',90).index)
"""

In [ ]:
def split_dataset(train_data, estimated_column='estimated',val_size = 0.1,val = False):
    """
    Splits the dataset into a training set and a validation set.
    The validation set contains the last half of the rows where observed = 0,
    and the training set contains the rest.

    :param train_data: The original training dataset as a pandas DataFrame.
    :param observed_column: The name of the column that indicates if the row is observed.
    :return: A tuple (training_set, validation_set)
    """
    
    if val: 
        estimated_one = train_data[train_data[estimated_column] == 1]

        #Split the filtered dataset into two
        half_index = len(estimated_one) // 2
        validation_set = estimated_one[half_index:]

        # Combine the first half of observed_zero with the rest of the data where observed != 0
        training_set = pd.concat([train_data[train_data[estimated_column] == 0], estimated_one[:half_index]])
    else:
        split_index = int(train_data.shape[0] * (1-val_size))

        # Split the data
        training_set = train_data.iloc[:split_index]
        validation_set = train_data.iloc[split_index:]

    # Filter rows where observed = 0
   
    return training_set, validation_set

In [ ]:
training_set, validation_set = split_dataset(merged_b)
len(training_set)

# Build Catboost model

In [36]:
def split_dataset(train_data, val_size=0.1, val = False, estimated_column = 'estimated'):
    if val: 
        estimated_one = train_data[train_data[estimated_column] == 1]

        #Split the filtered dataset into two
        half_index = len(estimated_one) // 2
        validation_set = estimated_one[half_index:]

        # Combine the first half of observed_zero with the rest of the data where observed != 0
        training_set = pd.concat([train_data[train_data[estimated_column] == 0], estimated_one[:half_index]])
    else:
        split_index = int(train_data.shape[0] * (1 - val_size))
        training_set = train_data.iloc[:split_index]
        validation_set = train_data.iloc[split_index:]
    return training_set, validation_set

def build_catboost(merged_df, val_size=0.1, randomized=False):
    merged_df = merged_df.drop(columns=['date_forecast','time'])
    if randomized:
        X = merged_df.drop(columns=['pv_measurement'])
        y = merged_df['pv_measurement']
        X_train, X_validation, y_train, y_validation = train_test_split(X, y, train_size=0.8, random_state=42)
    else:
        training_set, validation_set = split_dataset(merged_df, val_size, True)
        X_train = training_set.drop(columns=['pv_measurement'])
        y_train = training_set['pv_measurement']
        X_validation = validation_set.drop(columns=['pv_measurement'])
        y_validation = validation_set['pv_measurement']
    
    catboost_model = CatBoostRegressor(
        iterations=1000,
        learning_rate=0.1,
        depth=6,
        loss_function='MAE',
        eval_metric='MAE',
        random_seed=42,
        verbose=200
    )
    
    catboost_model.fit(X_train, y_train, eval_set=(X_validation, y_validation), use_best_model=True)
    return catboost_model

In [37]:
model_a = build_catboost(merged_a,0.1, True)

0:	learn: 600.2686128	test: 598.9900368	best: 598.9900368 (0)	total: 12.8ms	remaining: 12.7s
200:	learn: 186.8224590	test: 184.8368845	best: 184.8368845 (200)	total: 1.98s	remaining: 7.86s
400:	learn: 172.5852193	test: 177.0184811	best: 177.0184811 (400)	total: 4.4s	remaining: 6.57s
600:	learn: 165.4562878	test: 173.9216187	best: 173.9216187 (600)	total: 6.6s	remaining: 4.38s
800:	learn: 159.9711581	test: 171.9586921	best: 171.9478331 (782)	total: 8.48s	remaining: 2.11s
999:	learn: 155.5396263	test: 171.0395115	best: 170.9733018 (967)	total: 10.3s	remaining: 0us

bestTest = 170.9733018
bestIteration = 967

Shrink model to first 968 iterations.

In [38]:
model_b = build_catboost(merged_b,0.1, True)

0:	learn: 98.2556381	test: 97.5971320	best: 97.5971320 (0)	total: 10.9ms	remaining: 10.9s
200:	learn: 24.6167625	test: 27.1157637	best: 27.1157637 (200)	total: 1.77s	remaining: 7.02s
400:	learn: 22.8155224	test: 26.3407276	best: 26.3407276 (400)	total: 3.5s	remaining: 5.23s
600:	learn: 21.7527308	test: 25.9275926	best: 25.9268793 (598)	total: 5.2s	remaining: 3.45s
800:	learn: 20.8929991	test: 25.7105246	best: 25.7105246 (800)	total: 6.86s	remaining: 1.7s
999:	learn: 20.3249002	test: 25.5346900	best: 25.5343290 (997)	total: 8.5s	remaining: 0us

bestTest = 25.53432904
bestIteration = 997

Shrink model to first 998 iterations.

In [39]:
model_c = build_catboost(merged_c,0.2, True)

0:	learn: 89.8955069	test: 89.5916507	best: 89.5916507 (0)	total: 9.93ms	remaining: 9.92s
200:	learn: 22.4650308	test: 24.3733605	best: 24.3721150 (198)	total: 1.6s	remaining: 6.35s
400:	learn: 20.7305466	test: 23.5838245	best: 23.5800958 (384)	total: 3.15s	remaining: 4.71s
600:	learn: 19.0977490	test: 22.9743806	best: 22.9733555 (598)	total: 4.85s	remaining: 3.22s
800:	learn: 18.1173813	test: 22.6765839	best: 22.6761843 (797)	total: 6.64s	remaining: 1.65s
999:	learn: 17.5669484	test: 22.5127912	best: 22.5024092 (978)	total: 8.16s	remaining: 0us

bestTest = 22.50240917
bestIteration = 978

Shrink model to first 979 iterations.

In [49]:
merged_a

,date_forecast,absolute_humidity_2m:gm3,air_density_2m:kgm3,ceiling_height_agl:m,clear_sky_energy_1h:J,clear_sky_rad:W,cloud_base_agl:m,dew_or_rime:idx,dew_point_2m:K,diffuse_rad:W,diffuse_rad_1h:J,direct_rad:W,direct_rad_1h:J,effective_cloud_cover:p,elevation:m,fresh_snow_12h:cm,fresh_snow_1h:cm,fresh_snow_24h:cm,fresh_snow_3h:cm,fresh_snow_6h:cm,is_day:idx,is_in_shadow:idx,msl_pressure:hPa,precip_5min:mm,precip_type_5min:idx,pressure_100m:hPa,pressure_50m:hPa,prob_rime:p,rain_water:kgm2,relative_humidity_1000hPa:p,sfc_pressure:hPa,snow_density:kgm3,snow_depth:cm,snow_drift:idx,snow_melt_10min:mm,snow_water:kgm2,sun_azimuth:d,sun_elevation:d,super_cooled_liquid_water:kgm2,t_1000hPa:K,total_cloud_cover:p,visibility:m,wind_speed_10m:ms,wind_speed_u_10m:ms,wind_speed_v_10m:ms,wind_speed_w_1000hPa:ms,year,month,day,hour,estimated,time,pv_measurement
0,2019-06-02 22:00:00,7.700,1.22825,1728.950,0.00,0.000,1728.950,0.0,280.300,0.000,0.0,0.00,0.000,99.075,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1006.300,0.0,0.0,993.75000,999.77500,0.0,0.0,71.674995,1005.80000,NaN,0.0,0.0,0.0,0.7,348.03674,-3.77425,0.000,286.22500,100.000,40386.477,3.600,-3.575,-0.500,0.0,2019,6,2,22,0,2019-06-02 22:00:00,0.00
1,2019-06-02 23:00:00,7.700,1.22350,1689.825,0.00,0.000,1689.825,0.0,280.300,0.000,0.0,0.00,0.000,99.750,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1005.200,0.0,0.0,992.67500,998.65000,0.0,0.1,68.000000,1004.65000,NaN,0.0,0.0,0.0,0.8,91.98075,-4.35725,0.000,286.90000,100.000,33770.650,3.350,-3.350,0.275,0.0,2019,6,2,23,0,2019-06-02 23:00:00,0.00
2,2019-06-03 00:00:00,7.875,1.21975,1563.225,0.00,0.000,1563.225,0.0,280.650,0.000,0.0,0.00,0.000,100.000,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1004.525,0.0,0.0,992.00000,997.97500,0.0,0.4,67.950000,1003.95000,NaN,0.0,0.0,0.0,1.6,14.93475,-3.30950,0.000,286.95000,100.000,13595.500,3.050,-2.950,0.750,0.0,2019,6,3,0,0,2019-06-03 00:00:00,0.00
3,2019-06-03 01:00:00,8.425,1.21800,1283.425,834.60,0.750,1283.425,0.0,281.675,0.300,2107.1,0.00,0.000,100.000,6.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1004.025,0.0,0.0,991.50000,997.44995,0.0,0.5,73.875000,1003.44995,NaN,0.0,0.0,0.0,2.2,28.63025,-0.82250,0.000,286.75000,100.000,2321.850,2.725,-2.600,0.875,0.0,2019,6,3,1,0,2019-06-03 01:00:00,0.00
4,2019-06-03 02:00:00,8.950,1.21800,1003.500,129872.60,23.100,1003.500,0.0,282.500,11.975,88275.8,0.15,1131.900,84.875,6.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1003.100,0.0,0.0,990.55005,996.50000,0.0,0.4,79.925000,1002.50000,NaN,0.0,0.0,0.0,1.0,41.99750,3.05125,0.000,286.45000,99.225,11634.800,2.550,-2.350,0.925,0.0,2019,6,3,2,0,2019-06-03 02:00:00,19.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34038,2023-04-30 19:00:00,4.550,1.27650,1674.200,337859.78,4.225,542.700,0.0,272.425,2.825,225724.2,0.10,52922.598,96.700,6.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1014.750,0.0,0.0,1001.57495,1007.80000,0.0,0.0,74.625000,1014.05000,NaN,0.0,0.0,0.0,0.0,304.93924,-0.18050,0.000,275.02500,96.700,23417.074,5.175,4.800,1.925,0.0,2023,4,30,19,1,2023-04-30 19:00:00,9.02
34039,2023-04-30 20:00:00,4.500,1.27975,1762.400,9083.50,0.000,546.400,0.0,272.300,0.000,20271.5,0.00,705.400,94.225,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1014.700,0.0,0.0,1001.55000,1007.80000,0.0,0.0,76.875000,1014.05000,NaN,0.0,0.0,0.0,0.0,318.62576,-5.17600,0.000,274.65002,94.525,21084.050,4.650,4.025,2.300,0.0,2023,4,30,20,1,2023-04-30 20:00:00,0.00
34040,2023-04-30 21:00:00,4.500,1.28100,1696.650,0.00,0.000,548.350,0.0,272.300,0.000,0.0,0.00,0.000,94.325,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1014.550,0.0,0.0,1001.40000,1007.67500,0.0,0.0,77.775000,1013.92505,NaN,0.0,0.0,0.0,0.0,332.78574,-8.95075,0.000,274.52500,95.675,20792.500,4.450,3.575,2.600,0.0,2023,4,30,21,1,2023-04-30 21:00:00,0.00
34041,2023-04-30 22:00:00,4.500,1.28100,1353.400,0.00,0.000,527.775,0.0,272.300,0.000,0.0,0.00,0.000,97.775,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1014.400,0.0,0.0,1001.25000,1007.50000,0.0,0.0,79.000000,1013.80000,NaN,0.0,0.0,0.0,0.1,347.37800,-11.23325,0.100,274.32500,98.875,14158.100,4.100,3.175,2.550,0.0,2023,4,30,22,1,2023-04-30 22:00:00,0.00
34042,2023-04-30 23:00:00,4.500,1.28100,1626.575,0.00,0.000,526.525,0.0,272.275,0.000,0.0,0.00,0.000,98.425,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1014.050,0.0,0.0,1000.87500,1007.10000,0.0,0.0,79.850000,1013.40000,NaN,0.0,0.0,0.0,0.2,92.20950,-11.84150,0.075,274.22500,99.700,11872.300,3.750,2.725,2.550,0.0,2023,4,30,23,1,2023-04-30 23:00:00,0.00

In [50]:
def get_feat_importance(model):
    feats = {'feature':merged_a.drop(columns =['date_forecast','time','pv_measurement']).columns,
         'importance':model.get_feature_importance()}
    print(len(feats['feature']))
    print(len(feats['importance']))
    df = pd.DataFrame(feats).sort_values('importance',ascending = False)
    return df

In [51]:
get_feat_importance(model_c)

50
50

                           feature    importance
4                  clear_sky_rad:W  2.356826e+01
10                    direct_rad:W  1.331145e+01
36                 sun_elevation:d  1.307184e+01
11                 direct_rad_1h:J  1.047883e+01
28     relative_humidity_1000hPa:p  4.182237e+00
38                     t_1000hPa:K  3.871816e+00
9                 diffuse_rad_1h:J  3.157020e+00
3            clear_sky_energy_1h:J  2.874387e+00
40                    visibility:m  2.359307e+00
41               wind_speed_10m:ms  1.872080e+00
29                sfc_pressure:hPa  1.713034e+00
8                    diffuse_rad:W  1.577302e+00
12         effective_cloud_cover:p  1.561382e+00
45                            year  1.375480e+00
42             wind_speed_u_10m:ms  1.345527e+00
47                             day  1.275600e+00
0         absolute_humidity_2m:gm3  1.070471e+00
43             wind_speed_v_10m:ms  1.052457e+00
25                pressure_50m:hPa  9.825744e-01
1              air_density_2m:kgm3  7.997383e-01
7                   dew_point_2m:K  7.742652e-01
35                   sun_azimuth:d  7.682846e-01
5                 cloud_base_agl:m  7.290414e-01
46                           month  6.724785e-01
49                       estimated  6.331219e-01
23            precip_type_5min:idx  5.886609e-01
39             total_cloud_cover:p  5.882083e-01
16               fresh_snow_24h:cm  5.015939e-01
21                msl_pressure:hPa  4.923250e-01
2             ceiling_height_agl:m  4.524310e-01
48                            hour  4.118706e-01
14               fresh_snow_12h:cm  3.476771e-01
34                 snow_water:kgm2  3.424600e-01
22                  precip_5min:mm  2.618720e-01
37  super_cooled_liquid_water:kgm2  2.305572e-01
24               pressure_100m:hPa  1.711727e-01
33              snow_melt_10min:mm  1.400456e-01
18                fresh_snow_6h:cm  1.202625e-01
27                 rain_water:kgm2  1.034441e-01
30               snow_density:kgm3  6.608685e-02
44         wind_speed_w_1000hPa:ms  3.904912e-02
31                   snow_depth:cm  3.744855e-02
20                is_in_shadow:idx  1.433300e-02
19                      is_day:idx  7.350312e-03
26                     prob_rime:p  3.127547e-03
17                fresh_snow_3h:cm  1.119457e-03
6                  dew_or_rime:idx  7.404306e-04
15                fresh_snow_1h:cm  1.869307e-04
32                  snow_drift:idx  3.121891e-08
13                     elevation:m  2.503696e-09

In [52]:
pred_a = model_a.predict(x_test_a)
pred_b = model_b.predict(x_test_b)
pred_c = model_c.predict(x_test_c)

In [53]:
def create_sub(pred_a,pred_b,pred_c):
    submission = pd.read_csv('sample_submission.csv')
    submission['prediction'] = np.concatenate([pred_a,pred_b,pred_c])
    submission.loc[submission['prediction'] < 0, 'prediction'] = 0
    return submission

In [54]:
sub = create_sub(pred_a,pred_b,pred_c)
sub.to_csv(f'Submissions/baseCatboost.csv', index=False)

In [58]:
location = 'A'
'Saved_models/'+ location.upper()

'Saved_models/A'

In [60]:
def save_model(model,model_name,location):
    save_directory = 'Saved_models/'+ location.upper()
    os.makedirs(save_directory, exist_ok=True)

    # Define the path to save the model
    model_file_path = os.path.join(save_directory, f'{model_name}.cbm')

    # Save the model
    model.save_model(model_file_path)

    print(f"Model successfully saved at {model_file_path}")

In [61]:
save_model(model_a,'base_catBoost','A')
save_model(model_b,'base_catBoost','B')
save_model(model_c,'base_catBoost','C')

Model successfully saved at Saved_models/A/base_catBoost.cbm

In [ ]:
def compare_two_preds(pred1,pred2):
    pred1 = preds_a_original.as_data_frame()
    pred2 = preds_a2.as_data_frame()

    plt.figure(figsize=(10, 8))

    # Scatter plot
    plt.scatter(y_pred1['predict'], y_pred2['predict'], alpha=0.5)

    # Line of equality (for reference)
    plt.plot([y_pred1['predict'].min(), y_pred1['predict'].max()],
             [y_pred2['predict'].min(), y_pred2['predict'].max()],
             color='red', linestyle='--')

    # Labels and title
    plt.xlabel('Predictions from First Model')
    plt.ylabel('Predictions from New model')
    plt.title('Comparison of Predictions from Two Models')

    # Show plot
    plt.grid(True)
    plt.show()

In [ ]:
def plot_prediction(preds):
    test = pd.read_csv('test.csv')
    predictions= preds['predict'].as_data_frame()
    predictions['time'] = test['time'].unique()
    fig, ax1 = plt.subplots(figsize=(15, 6))
    ax1.set_xlabel('Time')
    ax1.set_ylabel('Prediction', color='tab:blue')
    ax1.plot(predictions['time'], predictions['predict'], color='tab:blue', label='Solar Power Production')
    ax1.tick_params(axis='y', labelcolor='tab:blue')

    fig.tight_layout()
    plt.title(f'Time Series Plot of prediction')
    plt.show()

In [ ]:
  """# Plot the distribution of "direct_rad:W"
    plt.figure(figsize=(12, 6))
    sns.histplot(merged_data['direct_rad:W'], bins=50, kde=True)
    plt.title('Distribution of "direct_rad:W"')
    plt.xlabel('Direct Radiation (W)')
    plt.ylabel('Frequency')
    plt.show()

    plt.figure(figsize=(12, 6))
    sns.histplot(merged_data['clear_sky_rad:W'], bins=50, kde=True)
    plt.title('Distribution of "clear_sky_rad:W"')
    plt.xlabel('Direct Radiation (W)')
    plt.ylabel('Frequency')
    plt.show()

    plt.figure(figsize=(12, 6))
    sns.histplot(merged_data['direct_rad_1h:J'], bins=50, kde=True)
    plt.title('Distribution of "direct_rad_1h:J"')
    plt.xlabel('Radiation 1h(J)')
    plt.ylabel('Frequency')
    plt.show()

    plt.figure(figsize=(12, 6))
    sns.histplot(merged_data['clear_sky_energy_1h:J'], bins=50, kde=True)
    plt.title('Distribution of "clear_sky_energy_1h:J"')
    plt.xlabel('Radiation 1h(J)')
    plt.ylabel('Frequency')
    plt.show()"""