In [642]:
#!pip install lightgbm

In [643]:
import pandas as pd
import lightgbm as lgb
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [644]:
x_train_a = pd.read_csv('cleaned_data/A/x_train_a.csv')
y_train_a = pd.read_csv('cleaned_data/A/train_a.csv')
x_test_a = pd.read_csv('cleaned_data/A/x_test_a.csv')

In [645]:
x_train_b = pd.read_csv('cleaned_data/B/x_train_b.csv')
y_train_b = pd.read_csv('cleaned_data/B/train_b.csv')
x_test_b = pd.read_csv('cleaned_data/B/x_test_b.csv')

In [646]:
x_train_c = pd.read_csv('cleaned_data/C/x_train_c.csv')
y_train_c = pd.read_csv('cleaned_data/C/train_c.csv')
x_test_c = pd.read_csv('cleaned_data/C/x_test_c.csv')

In [647]:
def prepare_dataset(x_train, y_train, x_test, merge_on, drop_columns):
    # Merge training data with the target variable
    x_train_combined = x_train.merge(y_train, left_on=merge_on[0], right_on=merge_on[1], how='left')
    # Create 'observed' column based on the 'calc_year' column's NaN values
    x_train_combined['observed'] = x_train_combined['calc_year'].isna().astype(int)
    # Drop specified columns from the training data
    train_data = x_train_combined.drop(drop_columns, axis=1).drop(['time'],axis = 1)
    # Repeat the process for test data
    x_test['observed'] = x_test['calc_year'].isna().astype(int)
    test_data = x_test.drop(drop_columns, axis=1).drop(['location'],axis=1)
    
    return train_data, test_data

# Define columns to drop from training and test datasets
drop_columns = [ 'calc_year', 'calc_month', 'calc_day', 'calc_hour',
                      'hour_sin', 'hour_cos', 'month_sin', 'month_cos',
                      'day_of_year_sin', 'day_of_year_cos', 'direct_rad_3h_roll_avg',
                      'diffuse_rad_3h_roll_avg', 'direct_rad_6h_roll_avg',
                      'diffuse_rad_6h_roll_avg', 'day_of_year', 'date_forecast']



# Call the function with the relevant dataframes and columns
train_data_a, test_data_a = prepare_dataset(x_train_a, y_train_a, x_test_a, 
                                        ['date_forecast', 'time'], 
                                        drop_columns)
train_data_b, test_data_b = prepare_dataset(x_train_b, y_train_b, x_test_b, 
                                        ['date_forecast', 'time'], 
                                        drop_columns)
train_data_c, test_data_c = prepare_dataset(x_train_c, y_train_c, x_test_c, 
                                        ['date_forecast', 'time'], 
                                        drop_columns)

In [648]:
test_data_b

,absolute_humidity_2m:gm3,air_density_2m:kgm3,ceiling_height_agl:m,clear_sky_energy_1h:J,clear_sky_rad:W,cloud_base_agl:m,dew_or_rime:idx,dew_point_2m:K,diffuse_rad:W,diffuse_rad_1h:J,...,wind_speed_10m:ms,wind_speed_u_10m:ms,wind_speed_v_10m:ms,wind_speed_w_1000hPa:ms,forecast_year,forecast_month,forecast_day,forecast_hour,direct_rad_x_sun_elevation,observed
0,4.300,1.28300,912.3000,0.0,0.000,1059.750,0.0,271.65002,0.000,0.000,...,3.950,2.100,3.375,0.0,2023,5,1,0,-0.000000,0
1,4.250,1.28300,1482.8002,0.0,0.000,1073.700,0.0,271.45000,0.000,0.000,...,3.825,1.925,3.300,0.0,2023,5,1,1,-0.000000,0
2,4.150,1.28275,1765.9000,0.0,0.000,1200.100,0.0,271.05000,0.000,0.000,...,3.650,1.750,3.225,0.0,2023,5,1,2,-0.000000,0
3,4.025,1.28225,2269.7500,40510.2,11.675,1179.000,0.0,270.65000,9.375,67382.305,...,3.500,1.475,3.150,0.0,2023,5,1,3,2.967300,0
4,3.900,1.28200,2198.2250,567057.1,76.900,919.150,0.0,270.37500,47.400,408812.200,...,3.325,1.300,3.075,0.0,2023,5,1,4,190.086060,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,8.350,1.19800,3640.1250,1908360.9,85.100,2015.750,0.0,281.57500,33.625,675011.000,...,2.475,2.075,-1.350,0.0,2023,7,3,19,109.454025,0
716,8.525,1.20075,3351.1000,737351.8,24.800,1613.375,0.0,281.85000,14.350,345239.800,...,2.450,2.100,-1.275,0.0,2023,7,3,20,11.602287,0
717,8.800,1.20375,2753.0250,149728.8,1.275,1624.450,0.0,282.30000,1.300,112669.700,...,2.575,2.150,-1.400,0.0,2023,7,3,21,-0.000000,0
718,9.000,1.20600,2204.5000,1440.5,0.000,1768.325,0.0,282.67502,0.000,9413.900,...,2.250,1.800,-1.350,0.0,2023,7,3,22,-0.000000,0
719,9.025,1.20700,2015.1000,0.0,0.000,1441.100,0.0,282.67502,0.000,0.000,...,2.000,1.600,-1.175,0.0,2023,7,3,23,-0.000000,0

In [649]:
def clean_column_names(dataframe):
    # Replace any special JSON characters with an underscore (or remove them)
    clean_names = {col: col.replace(':', '_').replace(',', '_').replace('{', '_').replace('}', '_')
                   .replace('[', '_').replace(']', '_') for col in dataframe.columns}
    return dataframe.rename(columns=clean_names)

# Clean the column names for both train and test datasets
train_data_a = clean_column_names(train_data_a)
test_data_a = clean_column_names(test_data_a)
train_data_b = clean_column_names(train_data_b)
test_data_b = clean_column_names(test_data_b)
train_data_c = clean_column_names(train_data_c)
test_data_c = clean_column_names(test_data_c)

In [650]:
# Assuming you have a DataFrame `df` with features and a target column named 'target'
X_a = train_data_a.drop('pv_measurement', axis=1)
y_a = train_data_a['pv_measurement']

X_b = train_data_b.drop('pv_measurement', axis=1)
y_b = train_data_b['pv_measurement']

X_c = train_data_c.drop('pv_measurement', axis=1)
y_c = train_data_c['pv_measurement']

In [651]:
split_ratio = 0.875  # 87.5% for the first part


def train_val_split(x,y,split_ratio):
    x_train = x[:int(len(x) * split_ratio)]
    x_val = x[int(len(x) * split_ratio):]
    y_train = y[:int(len(y) * split_ratio)]
    y_val = y[int(len(y) * split_ratio):]

    return x_train,x_val,y_train,y_val

X_train_a, X_val_a, y_train_a, y_val_a = train_val_split(X_a,y_a,split_ratio)
X_train_b, X_val_b, y_train_b, y_val_b = train_val_split(X_b,y_b,split_ratio)
X_train_c, X_val_c, y_train_c, y_val_c = train_val_split(X_c,y_c,split_ratio)

In [652]:
train_data_a = lgb.Dataset(X_train_a, label=y_train_a)
val_data_a = lgb.Dataset(X_val_a, label=y_val_a, reference=train_data_a)
train_data_b = lgb.Dataset(X_train_b, label=y_train_b)
val_data_b = lgb.Dataset(X_val_b, label=y_val_b, reference=train_data_b)
train_data_c = lgb.Dataset(X_train_c, label=y_train_c)
val_data_c = lgb.Dataset(X_val_c, label=y_val_c, reference=train_data_c)

In [653]:

# Define the parameters for the LightGBM model
params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': 'mae',  # Use MAE for evaluation
    'num_leaves': 31,
    'learning_rate': 0.05,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'verbose': 0
}

In [654]:
# Train the model
gbm_a = lgb.train(params,
                train_data_a,
                num_boost_round=10000,
                valid_sets=val_data_a,
                callbacks=[lgb.early_stopping(stopping_rounds=10)])

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[153]	valid_0's l1: 118.296

In [655]:
gbm_b = lgb.train(params,
                train_data_b,
                num_boost_round=10000,
                valid_sets=val_data_b,
                callbacks=[lgb.early_stopping(stopping_rounds=10)])

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[149]	valid_0's l1: 16.8359

In [656]:
gbm_c = lgb.train(params,
                train_data_c,
                num_boost_round=10000,
                valid_sets=val_data_c,
                callbacks=[lgb.early_stopping(stopping_rounds=10)])

Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[143]	valid_0's l1: 23.4166

In [657]:
y_pred_a = gbm_a.predict(test_data_a, num_iteration=gbm_a.best_iteration)
formatted_predictions_a = [format(x, '.5f') for x in y_pred_a]
y_pred_b = gbm_b.predict(test_data_b, num_iteration=gbm_b.best_iteration)
formatted_predictions_b = [format(x, '.5f') for x in y_pred_b]
y_pred_c = gbm_c.predict(test_data_c, num_iteration=gbm_c.best_iteration)
formatted_predictions_c = [format(x, '.5f') for x in y_pred_c]

formatted_predictions_a

['3.11523',
 '3.11523',
 '3.11523',
 '63.09452',
 '400.21175',
 '974.02988',
 '1993.07625',
 '2558.81081',
 '2905.81077',
 '3153.79540',
 '3082.04548',
 '3299.14206',
 '2796.85897',
 '2700.50100',
 '2592.68968',
 '1843.10734',
 '1152.51633',
 '604.22115',
 '312.31186',
 '16.00389',
 '2.53479',
 '2.53479',
 '2.61991',
 '3.00301',
 '4.33145',
 '4.33145',
 '4.33145',
 '157.07204',
 '667.82348',
 '1280.03357',
 '1785.61333',
 '2628.92280',
 '3908.28511',
 '4099.35093',
 '4113.86294',
 '4336.87680',
 '3827.81291',
 '3636.64022',
 '3333.67180',
 '2342.58826',
 '1733.58513',
 '844.29824',
 '434.89139',
 '81.97118',
 '3.33636',
 '3.33636',
 '3.18584',
 '0.05706',
 '2.29932',
 '3.23310',
 '13.46898',
 '266.39376',
 '614.64204',
 '1475.27790',
 '2805.90461',
 '3769.78845',
 '4407.64762',
 '4779.92741',
 '4963.59830',
 '4624.91396',
 '4409.42897',
 '3787.99395',
 '3050.10354',
 '2075.97642',
 '1221.50524',
 '675.20103',
 '437.48681',
 '141.34846',
 '1.78131',
 '2.11179',
 '2.19690',
 '2.49489',
 '2.77536',
 '3.32119',
 '12.90362',
 '188.13258',
 '454.06027',
 '1205.18081',
 '2408.36501',
 '3710.78202',
 '4001.50874',
 '3722.70746',
 '3804.37921',
 '3638.90829',
 '3342.86099',
 '3157.90425',
 '3406.11099',
 '2485.62824',
 '1990.10587',
 '765.66267',
 '319.01883',
 '160.04006',
 '2.46724',
 '2.41225',
 '2.41225',
 '2.79535',
 '4.83236',
 '3.92945',
 '23.89000',
 '267.72963',
 '529.37865',
 '1165.19739',
 '2889.90588',
 '3515.12802',
 '4500.60650',
 '4254.52267',
 '4755.09286',
 '4938.89447',
 '4907.29692',
 '4034.26717',
 '3585.04492',
 '2856.03203',
 '1878.89887',
 '936.55966',
 '480.41435',
 '228.59248',
 '4.29257',
 '0.78213',
 '0.78213',
 '1.57884',
 '2.62980',
 '4.10941',
 '36.28972',
 '287.49044',
 '761.38997',
 '1596.16647',
 '2802.07767',
 '3763.75241',
 '4050.97479',
 '3817.80379',
 '3801.38884',
 '3606.96470',
 '3230.33532',
 '3354.62326',
 '2957.58381',
 '2406.19855',
 '1482.15746',
 '727.08412',
 '469.92427',
 '238.89319',
 '4.33524',
 '3.07124',
 '3.07124',
 '1.90932',
 '4.10941',
 '4.10941',
 '47.91978',
 '299.05684',
 '767.20834',
 '1649.97655',
 '2865.78203',
 '3766.43509',
 '4212.84008',
 '4527.95496',
 '4184.91084',
 '4203.67789',
 '3696.00424',
 '3349.25715',
 '3105.55060',
 '2153.36520',
 '1484.18200',
 '909.22411',
 '458.51015',
 '231.90571',
 '8.53699',
 '2.05488',
 '2.05488',
 '2.05488',
 '2.77536',
 '2.77536',
 '12.35779',
 '45.92448',
 '80.82227',
 '222.67303',
 '266.34245',
 '347.39843',
 '531.76818',
 '612.40229',
 '747.36100',
 '1132.81648',
 '2174.13242',
 '2626.48860',
 '2081.49890',
 '1843.73063',
 '1177.00569',
 '658.49038',
 '349.06330',
 '165.62854',
 '11.63243',
 '2.28004',
 '2.61052',
 '2.99362',
 '2.77536',
 '2.77536',
 '68.17077',
 '248.24728',
 '414.52758',
 '609.28648',
 '1347.55959',
 '2105.43939',
 '1943.70458',
 '2065.55324',
 '2632.87535',
 '2023.70268',
 '2289.76543',
 '2877.76029',
 '2484.35450',
 '1663.42182',
 '677.83374',
 '387.46216',
 '251.56941',
 '41.83864',
 '0.73207',
 '0.88145',
 '0.88145',
 '0.88145',
 '3.84434',
 '3.29850',
 '10.71866',
 '60.99365',
 '136.19921',
 '290.00371',
 '659.09388',
 '1045.31459',
 '2519.02925',
 '2188.88572',
 '1525.94805',
 '1589.14538',
 '1131.67503',
 '917.52630',
 '709.97171',
 '681.97401',
 '553.62876',
 '288.30565',
 '148.53216',
 '103.51356',
 '0.04815',
 '2.05488',
 '2.05488',
 '2.05488',
 '2.77536',
 '2.77536',
 '16.75586',
 '59.86921',
 '211.55777',
 '677.36666',
 '1333.26426',
 '2206.59336',
 '2395.58622',
 '1364.15821',
 '1401.24118',
 '1583.30654',
 '1673.46393',
 '2201.23479',
 '2092.56600',
 '2130.21069',
 '1467.09556',
 '897.39220',
 '537.15441',
 '260.36376',
 '48.27504',
 '2.05488',
 '2.05488',
 '2.05488',
 '3.32119',
 '3.32119',
 '93.60473',
 '236.98083',
 '391.02218',
 '751.68776',
 '1357.92713',
 '1788.96695',
 '2444.74997',
 '2371.53251',
 '2132.83184',
 '2313.91136',
 '2058.48189',
 '1781.62143',
 '1299.37008',
 '1361.26021',
 '847.34818',
 '478.03029',
 '242.88306',
 '48.70250',
 '4.69220',
 '2.05488',
 '0.88145',
 '0.88145',
 '3.66107',
 '3.66107',
 '121.41577',
 '225.73492',
 '396.04569',
 '825.50702',
 '1653.62717',
 '2131.25962',
 '2478.36338',
 '3204.98491',
 '3638.69280',
 '3026.72843',
 '2733.44690',
 '2678.60715',
 '2398.85555',
 '1864.06650',
 '951.27587',
 '725.54488',
 '378.95165',
 '227.61586',
 '66.48854',
 '2.94058',
 '2.94058',
 '2.94058',
 '3.66107',
 '3.66107',
 '57.17529',
 '257.12590',
 '475.22311',
 '981.91314',
 '1528.25680',
 '1994.04659',
 '2852.94114',
 '3552.28247',
 '3350.82845',
 '2881.51493',
 '2667.52420',
 '2088.94395',
 '1397.66031',
 '932.48309',
 '731.49261',
 '409.47510',
 '169.91335',
 '61.72041',
 '18.60706',
 '2.94058',
 '2.94058',
 '2.94058',
 '3.66107',
 '3.66107',
 '17.52867',
 '45.46054',
 '218.93431',
 '592.48598',
 '834.81663',
 '1023.48388',
 '1466.93649',
 '2010.59700',
 '1911.44155',
 '2086.51498',
 '2005.37606',
 '2062.62290',
 '1867.50463',
 '1503.92959',
 '954.44258',
 '544.22202',
 '262.89959',
 '182.35705',
 '38.19244',
 '2.94058',
 '2.94058',
 '2.94058',
 '3.66107',
 '3.66107',
 '36.71948',
 '169.73517',
 '337.79988',
 '586.02236',
 '882.56046',
 '1361.17847',
 '2214.06035',
 '2680.07303',
 '2517.38092',
 '2609.00100',
 '2754.24034',
 '2366.59123',
 '1503.83148',
 '1462.25141',
 '939.14724',
 '732.70227',
 '448.50271',
 '164.46946',
 '19.73970',
 '2.94058',
 '2.94058',
 '2.94058',
 '3.17736',
 '3.17736',
 '30.57713',
 '68.37630',
 '239.65808',
 '576.69345',
 '640.45812',
 '884.39941',
 '1118.99813',
 '1369.87845',
 '1744.12644',
 '1966.85033',
 '2151.99309',
 '2466.41344',
 '2059.59334',
 '1254.82711',
 '907.74027',
 '774.23571',
 '513.63180',
 '339.23808',
 '87.67604',
 '3.22787',
 '3.22787',
 '3.61097',
 '4.12306',
 '3.82404',
 '173.89103',
 '395.17906',
 '924.06512',
 '2042.16353',
 '3211.66235',
 '4287.09447',
 '4723.26304',
 '5061.02156',
 '4963.13348',
 '4957.85083',
 '4826.79842',
 '4201.52880',
 '3851.94039',
 '3101.97139',
 '2143.98546',
 '1294.64092',
 '621.52821',
 '355.11402',
 '100.47063',
 '2.19690',
 '2.19690',
 '2.24952',
 '3.70945',
 '5.97148',
 '183.01551',
 '377.82498',
 '740.56409',
 '1522.05968',
 '2416.32651',
 '3155.10930',
 '3891.99876',
 '4493.77231',
 '4088.56165',
 '3070.90716',
 '1754.45043',
 '1359.50039',
 '1139.30916',
 '1385.50926',
 '1351.43878',
 '697.38216',
 '307.53637',
 '145.12169',
 '63.83480',
 '2.60586',
 '2.60586',
 '2.44313',
 '3.43072',
 '2.18048',
 '55.42756',
 '182.06178',
 '344.36470',
 '751.71663',
 '2294.36756',
 '3372.62090',
 '3799.00016',
 '3937.79399',
 '4012.35330',
 '4501.65322',
 '4535.45176',
 '4070.32544',
 '3510.35195',
 '2970.70279',
 '2023.15422',
 '1243.53770',
 '613.76999',
 '366.45806',
 '136.03614',
 '2.38071',
 '2.38071',
 '2.90385',
 '0.53819',
 '-0.56448',
 '157.87175',
 '423.68138',
 '862.94413',
 '1613.95137',
 '2730.90853',
 '3812.56594',
 '4414.49111',
 '4820.19273',
 '4852.44611',
 '4895.80756',
 '4673.22888',
 '4142.86914',
 '3805.60129',
 '2995.97116',
 '2017.73931',
 '1361.98390',
 '656.75139',
 '378.20063',
 '146.07964',
 '2.51758',
 '2.51758',
 '2.51758',
 '-0.04335',
 '-0.01811',
 '165.13473',
 '386.43307',
 '789.89582',
 '1636.22020',
 '2361.50379',
 '3772.02129',
 '4529.30501',
 '4896.97181',
 '4840.00986',
 '3782.42692',
 '3189.28605',
 '3544.78210',
 '2364.46174',
 '1816.11677',
 '1428.49806',
 '823.34789',
 '430.29925',
 '263.47398',
 '134.76551',
 '14.34915',
 '-1.14693',
 '-0.76383',
 '16.96187',
 '14.80872',
 '36.68858',
 '129.16196',
 '280.88594',
 '678.74207',
 '758.86609',
 '1562.32731',
 '1146.71858',
 '557.51541',
 '911.40276',
 '3197.82022',
 '3527.57045',
 '3539.29886',
 '3370.90096',
 '3015.82345',
 '1874.99750',
 '1177.91115',
 '629.01166',
 '361.05758',
 '126.79535',
 '-6.46838',
 '-6.42801',
 '-6.04491',
 '-0.63234',
 '-0.63234',
 '17.64463',
 '158.08742',
 '186.58527',
 '263.77559',
 '362.20068',
 '669.01397',
 '1342.87880',
 '1313.59304',
 '1044.72501',
 '924.42970',
 '1042.47015',
 '1418.28314',
 '1822.21323',
 '2404.52737',
 '1711.09229',
 '853.29775',
 '521.34320',
 '338.18190',
 '100.53805',
 '-1.14693',
 '-1.14693',
 '-0.67872',
 '0.37224',
 '-1.73488',
 '141.80415',
 '367.87632',
 '907.98640',
 '1647.98358',
 '2787.19622',
 '3694.64499',
 '4191.99308',
 '4676.47363',
 '4658.82841',
 '4487.95199',
 '4332.58121',
 '3147.58390',
 '2921.87528',
 '2144.96722',
 '1630.12155',
 '1192.66703',
 '610.79973',
 '353.77140',
 '129.74613',
 '-6.79887',
 '-6.62162',
 '-5.90804',
 '0.04176',
 '-1.58557',
 '108.02159',
 '365.90746',
 '698.81832',
 '1488.69197',
 '2468.73894',
 '3569.43659',
 '4284.97711',
 '4621.92869',
 '4753.04027',
 '4794.16082',
 '4713.08475',
 '4096.39192',
 '3045.47876',
 '2223.23212',
 '1511.26817',
 '859.19257',
 '518.65148',
 '323.06939',
 '124.41342',
 '-3.04492',
 '-1.28697',
 '-1.28697',
 '-0.56649',
 '0.07753',
 '128.52115',
 '336.87756',
 '458.62928',
 '646.41244',
 '1008.95335',
 '1226.01596',
 '1068.26911',
 '1429.06102',
 '1529.80673',
 '1092.55753',
 '1105.50347',
 '1231.43359',
 '966.53147',
 '1019.93874',
 '688.34384',
 '419.11624',
 '224.85044',
 '97.94936',
 '16.54941',
 '-4.83083',
 '-4.83083',
 '-3.18152',
 '-3.72724',
 '-3.72724',
 '13.73522',
 '92.01422',
 '138.10653',
 '280.79507',
 '435.65410',
 '545.50577',
 '459.54602',
 '447.72495',
 '609.43403',
 '812.42212',
 '784.78574',
 '941.54433',
 '971.59594',
 '745.84268',
 '642.76208',
 '453.97881',
 '258.63006',
 '116.19889',
 '22.20964',
 '1.78131',
 '1.78131',
 '1.64127',
 '-2.21394',
 '-3.35737',
 '100.06091',
 '325.84410',
 '692.24162',
 '1364.32021',
 '2150.28051',
 '3079.25551',
 '3782.92995',
 '4061.97131',
 '4348.43385',
 '4109.86423',
 '4010.04636',
 '3820.12000',
 '3213.17802',
 '2073.03742',
 '1217.68190',
 '880.14420',
 '446.46946',
 '264.65461',
 '106.15860',
 '-6.26342',
 '-4.39016',
 '-2.93442',
 '-2.21394',
 '-2.29906',
 '74.13923',
 '272.63813',
 '417.99214',
 '474.60378',
 '531.83537',
 '835.88967',
 '1577.95617',
 '2869.34564',
 '3459.23488',
 '3534.78621',
 '3539.99408',
 '3270.08701',
 '1784.93862',
 '1304.87964',
 '809.05319',
 '603.41677',
 '411.78755',
 '264.59585',
 '84.21392',
 '-0.61444',
 '-0.61444',
 '-0.61444']

In [658]:
formatted_predictions_c

['0.37525',
 '0.37525',
 '0.37525',
 '5.68009',
 '32.32349',
 '89.18459',
 '209.63758',
 '350.84327',
 '356.40661',
 '348.75852',
 '436.64214',
 '487.96151',
 '353.28845',
 '363.69717',
 '409.48458',
 '311.93361',
 '208.43335',
 '109.35706',
 '35.20130',
 '-0.77475',
 '0.43666',
 '0.43666',
 '0.43666',
 '0.37525',
 '0.28200',
 '0.28200',
 '0.28200',
 '10.93169',
 '57.09393',
 '117.72598',
 '220.88403',
 '320.27978',
 '422.23789',
 '603.84047',
 '585.20526',
 '611.61205',
 '572.79484',
 '522.48598',
 '446.72719',
 '375.75798',
 '252.29099',
 '132.00609',
 '51.42660',
 '4.41111',
 '1.77166',
 '0.34341',
 '0.34341',
 '0.28200',
 '0.28200',
 '0.28200',
 '0.28200',
 '28.86517',
 '85.20689',
 '184.84135',
 '347.02014',
 '520.30000',
 '655.83237',
 '732.25675',
 '793.40552',
 '744.65369',
 '744.51293',
 '638.61556',
 '501.57714',
 '364.20726',
 '232.77263',
 '135.79655',
 '70.97149',
 '16.83879',
 '0.70295',
 '0.20967',
 '0.20967',
 '0.14825',
 '0.37227',
 '0.37227',
 '0.98495',
 '24.19344',
 '75.91114',
 '178.03124',
 '328.26674',
 '513.71711',
 '580.76085',
 '570.30006',
 '541.79159',
 '578.65117',
 '533.43706',
 '447.08853',
 '468.85192',
 '421.69717',
 '316.10722',
 '137.20173',
 '56.89583',
 '21.85649',
 '1.00187',
 '0.41296',
 '0.41296',
 '0.35155',
 '0.37227',
 '0.48529',
 '7.59647',
 '36.20321',
 '94.40596',
 '190.07906',
 '335.02219',
 '499.59194',
 '660.66226',
 '722.05136',
 '717.67560',
 '734.87412',
 '747.18936',
 '680.32374',
 '569.67845',
 '451.50451',
 '302.58080',
 '170.17750',
 '83.61786',
 '26.79944',
 '0.67300',
 '0.41296',
 '0.54671',
 '0.48529',
 '0.48529',
 '0.48529',
 '8.12299',
 '41.11289',
 '101.86960',
 '195.92952',
 '336.19938',
 '485.30455',
 '604.78488',
 '633.85510',
 '637.75386',
 '675.63426',
 '617.26036',
 '627.00031',
 '485.19041',
 '418.69487',
 '271.65203',
 '135.68463',
 '84.34625',
 '28.85069',
 '0.80675',
 '0.54671',
 '0.54671',
 '0.48529',
 '0.48529',
 '0.48529',
 '10.82451',
 '41.97617',
 '104.16363',
 '207.13215',
 '365.15407',
 '542.79256',
 '671.19905',
 '693.81409',
 '697.15801',
 '694.63966',
 '699.78065',
 '608.78686',
 '493.10741',
 '396.90163',
 '270.71191',
 '155.36869',
 '85.33019',
 '26.93319',
 '1.11551',
 '0.43368',
 '0.43368',
 '0.00891',
 '0.37227',
 '0.37227',
 '1.29944',
 '11.00716',
 '31.18516',
 '48.79510',
 '59.53668',
 '99.44275',
 '135.58353',
 '141.68632',
 '175.54343',
 '250.16871',
 '358.56831',
 '458.01220',
 '332.54953',
 '270.57980',
 '216.66087',
 '121.12083',
 '65.90855',
 '24.51202',
 '1.92693',
 '0.54671',
 '0.54671',
 '0.48529',
 '0.37227',
 '0.37227',
 '8.39808',
 '34.39188',
 '63.64507',
 '100.20375',
 '215.05886',
 '354.84453',
 '426.39524',
 '444.52975',
 '449.17420',
 '375.60106',
 '470.93625',
 '480.57109',
 '334.46306',
 '316.35175',
 '157.24279',
 '79.04084',
 '51.31440',
 '8.59103',
 '-0.09564',
 '-0.11969',
 '-0.28148',
 '0.00891',
 '0.48529',
 '0.48529',
 '4.60806',
 '16.80583',
 '35.92337',
 '50.02276',
 '130.73665',
 '213.06431',
 '409.75354',
 '354.12520',
 '292.24392',
 '288.26526',
 '284.06669',
 '254.85176',
 '166.66583',
 '103.69709',
 '103.72095',
 '60.06947',
 '44.31165',
 '8.53125',
 '-0.62491',
 '0.18335',
 '0.54671',
 '0.48529',
 '0.48529',
 '0.48529',
 '1.82839',
 '14.08005',
 '46.47991',
 '100.74897',
 '202.38788',
 '362.32960',
 '370.05439',
 '244.61758',
 '216.00816',
 '293.63699',
 '340.81323',
 '352.94982',
 '325.01976',
 '318.50984',
 '262.30115',
 '169.85565',
 '98.85351',
 '36.31510',
 '5.34796',
 '0.54671',
 '0.54671',
 '0.48529',
 '0.37227',
 '0.37227',
 '13.13293',
 '37.76112',
 '77.07752',
 '151.21350',
 '205.96919',
 '292.65290',
 '352.12565',
 '404.79708',
 '322.05552',
 '382.29142',
 '373.45327',
 '334.28080',
 '258.47733',
 '194.49376',
 '202.27347',
 '89.79858',
 '57.92890',
 '11.47592',
 '1.58103',
 '0.49593',
 '0.43368',
 '0.37227',
 '0.26222',
 '0.26222',
 '11.45565',
 '33.83069',
 '72.98487',
 '124.78273',
 '233.65200',
 '352.57182',
 '410.42299',
 '462.49531',
 '521.36106',
 '506.24527',
 '338.34554',
 '351.11718',
 '310.88416',
 '289.21595',
 '198.10677',
 '117.72234',
 '76.45366',
 '31.59972',
 '2.83419',
 '0.32363',
 '0.32363',
 '0.26222',
 '0.26222',
 '0.26222',
 '7.78185',
 '32.41986',
 '91.98349',
 '161.97612',
 '237.23469',
 '351.12198',
 '454.87639',
 '449.90424',
 '445.66977',
 '456.91128',
 '460.65864',
 '423.85081',
 '262.53067',
 '161.62281',
 '138.68344',
 '70.09905',
 '43.01384',
 '14.60523',
 '1.31656',
 '0.32363',
 '0.32363',
 '0.26222',
 '0.16897',
 '0.16897',
 '0.85314',
 '11.47373',
 '47.79792',
 '80.59631',
 '120.35858',
 '155.75758',
 '228.16256',
 '278.62068',
 '321.43211',
 '297.63126',
 '282.04471',
 '246.47381',
 '214.45572',
 '184.84523',
 '147.27544',
 '79.79530',
 '53.23273',
 '23.29263',
 '0.65692',
 '0.23038',
 '0.23038',
 '0.16897',
 '0.16897',
 '0.16897',
 '4.63249',
 '24.31977',
 '63.03195',
 '81.74883',
 '117.58138',
 '242.62750',
 '276.56057',
 '396.12660',
 '389.65561',
 '440.75118',
 '430.51179',
 '421.59331',
 '292.51900',
 '232.49410',
 '181.98187',
 '147.05360',
 '80.06396',
 '26.94529',
 '0.43745',
 '0.23038',
 '0.23038',
 '0.16897',
 '0.23123',
 '0.16897',
 '3.13456',
 '19.10623',
 '50.02860',
 '85.06404',
 '109.83061',
 '133.01957',
 '152.74335',
 '251.00020',
 '282.17574',
 '250.09282',
 '298.86650',
 '306.64814',
 '247.71335',
 '187.24136',
 '147.90609',
 '130.53428',
 '94.69163',
 '43.67689',
 '9.06079',
 '-1.80526',
 '0.34341',
 '0.16897',
 '0.28200',
 '0.28200',
 '20.71057',
 '62.07276',
 '125.31928',
 '252.86840',
 '454.06485',
 '637.14993',
 '712.43359',
 '832.20672',
 '844.46009',
 '855.86847',
 '855.80163',
 '793.69615',
 '664.20343',
 '517.72471',
 '348.39016',
 '221.53557',
 '120.95057',
 '49.43134',
 '14.90788',
 '0.70295',
 '0.20967',
 '0.20967',
 '0.14825',
 '0.14825',
 '20.12261',
 '57.21706',
 '114.95436',
 '230.09955',
 '372.08250',
 '496.57350',
 '612.23363',
 '709.81548',
 '708.20690',
 '601.00960',
 '392.89373',
 '311.44817',
 '247.46851',
 '296.93819',
 '246.04425',
 '131.62339',
 '67.35555',
 '33.15873',
 '11.12904',
 '0.70295',
 '0.20967',
 '0.20967',
 '0.14825',
 '0.14825',
 '10.04072',
 '31.56882',
 '66.83310',
 '139.36763',
 '361.70595',
 '480.91311',
 '530.46377',
 '665.59427',
 '692.43384',
 '772.96121',
 '777.12236',
 '708.05211',
 '624.07915',
 '494.76696',
 '354.18174',
 '238.70036',
 '122.49049',
 '51.99481',
 '14.13653',
 '0.70295',
 '0.20967',
 '0.20967',
 '0.14825',
 '0.14825',
 '17.59989',
 '55.60001',
 '122.06106',
 '229.79176',
 '372.78710',
 '557.24681',
 '699.09998',
 '821.86357',
 '852.61260',
 '847.35570',
 '831.69942',
 '787.89276',
 '668.49081',
 '502.38680',
 '371.69170',
 '239.23956',
 '129.91493',
 '52.97209',
 '17.83258',
 '0.70295',
 '0.20967',
 '0.20967',
 '0.35155',
 '0.22179',
 '15.09414',
 '54.46685',
 '122.24222',
 '228.10545',
 '403.45736',
 '608.61443',
 '700.33139',
 '775.25545',
 '814.42982',
 '741.08770',
 '589.05204',
 '709.16198',
 '508.27722',
 '383.88695',
 '284.31844',
 '179.58027',
 '93.76674',
 '46.67600',
 '10.04187',
 '-0.60126',
 '-0.04647',
 '-0.04647',
 '0.35155',
 '0.35155',
 '5.85393',
 '21.47648',
 '63.33712',
 '85.91338',
 '122.09455',
 '275.22330',
 '266.94705',
 '182.73158',
 '279.43161',
 '508.94946',
 '612.22137',
 '689.07438',
 '611.12935',
 '475.34949',
 '348.73419',
 '226.89639',
 '117.95773',
 '53.10480',
 '11.97601',
 '1.16771',
 '0.41296',
 '0.41296',
 '-0.67915',
 '-0.69485',
 '1.50022',
 '21.16872',
 '41.86670',
 '52.07101',
 '70.35308',
 '127.45607',
 '205.57368',
 '259.01689',
 '228.37816',
 '195.16006',
 '217.44794',
 '270.81509',
 '350.11087',
 '433.58050',
 '262.30885',
 '158.32109',
 '109.38156',
 '47.01819',
 '12.49606',
 '1.00187',
 '0.41296',
 '0.41296',
 '0.35155',
 '0.35155',
 '17.46500',
 '55.99566',
 '127.25513',
 '222.49600',
 '398.07186',
 '575.29152',
 '665.16638',
 '742.30827',
 '812.80250',
 '808.49164',
 '719.01282',
 '608.51779',
 '491.49183',
 '379.24933',
 '285.87119',
 '193.04350',
 '112.45531',
 '49.10939',
 '17.12983',
 '1.63024',
 '0.41296',
 '0.41296',
 '0.35155',
 '0.35155',
 '14.09977',
 '52.30573',
 '115.45960',
 '221.67914',
 '376.29283',
 '509.87090',
 '673.41890',
 '707.38983',
 '853.27136',
 '862.87931',
 '846.05135',
 '770.40002',
 '637.45656',
 '420.95550',
 '276.05291',
 '190.89870',
 '100.56233',
 '53.40283',
 '16.59362',
 '-0.14183',
 '0.41296',
 '0.41296',
 '0.35155',
 '0.35155',
 '17.55405',
 '54.64849',
 '92.89038',
 '136.25618',
 '166.06330',
 '175.25742',
 '192.81281',
 '240.10265',
 '350.24045',
 '240.97691',
 '215.50070',
 '268.49215',
 '175.75656',
 '152.65799',
 '110.52727',
 '75.59631',
 '48.30859',
 '21.50645',
 '3.66047',
 '-0.06342',
 '-0.09849',
 '-0.26342',
 '-0.12483',
 '-0.28976',
 '3.38640',
 '17.25782',
 '42.77912',
 '53.73162',
 '69.93521',
 '102.17745',
 '104.10322',
 '95.83929',
 '154.25579',
 '149.87208',
 '146.25729',
 '169.78502',
 '152.33366',
 '129.93933',
 '109.99635',
 '85.63881',
 '67.60450',
 '23.44219',
 '4.79930',
 '0.41296',
 '0.41296',
 '0.41296',
 '0.24150',
 '0.24150',
 '12.86196',
 '50.52710',
 '109.95857',
 '188.36341',
 '219.92020',
 '301.38497',
 '482.10295',
 '663.35780',
 '734.80414',
 '681.83724',
 '641.54244',
 '661.34626',
 '370.92434',
 '314.71779',
 '165.51469',
 '154.55484',
 '102.58714',
 '44.53613',
 '14.32860',
 '0.52624',
 '0.30291',
 '0.30291',
 '0.14825',
 '0.03522',
 '8.18087',
 '32.02877',
 '75.66275',
 '81.60250',
 '98.70392',
 '122.09723',
 '249.59749',
 '294.32883',
 '370.34265',
 '426.21852',
 '477.28815',
 '381.37636',
 '269.00302',
 '204.68627',
 '144.55314',
 '105.65026',
 '79.62198',
 '38.99164',
 '12.44847',
 '0.37067',
 '0.20967',
 '0.20967']

In [659]:
predictions = formatted_predictions_a + formatted_predictions_b + formatted_predictions_c

In [660]:
sample_submission = pd.read_csv('sample_submission.csv')

# Convert the numpy array to a DataFrame
predictions_df = pd.DataFrame(predictions, columns=['prediction'])

# Convert all negative predictions to 0
predictions_df['prediction'] = predictions_df['prediction'].astype(float)
predictions_df.loc[predictions_df['prediction'] < 0, 'prediction'] = 0.0

# Join the 'id' column from sample_submission with the predictions
sample_submission['prediction'] = predictions_df['prediction']

# Save to CSV
sample_submission.to_csv('lightgbm.csv', index=False)
predictions_df

      prediction
0        3.11523
1        3.11523
2        3.11523
3       63.09452
4      400.21175
...          ...
2155    38.99164
2156    12.44847
2157     0.37067
2158     0.20967
2159     0.20967

[2160 rows x 1 columns]